<p>
  About Works!
</p>
<div class="requirements">
  <h3 class="requirements-title">Requirements</h3>
  <p>
  Create a simple web project, that provides a form to upload a file and gather some metadata for that file: Title, Description and Creation date
  </p>
  <ul>
    <li> The UI can be implemented in any SPA framework of your choice.</li>
    <li> The REST back-end will be preferably implemented based on Java/Spring Boot (+ any Spring/Java library/framework of your choice) to store data.</li>
    <li> No user authentication and security features are needed.</li>
    <li> Project can use simple in-memory DB to store data</li>
    <li> Files can be stored in web server file system.</li>
    <li> No need to implement routing or sophisticated state management in UI (e.g. FLUX)</li>
    <li> Project can use any quality assurance mechanisms or build tools of choice</li>
    <li> You may also submit with the project any design considerations, restrictions, or possible future enhancements (if applicable)</li>
  </ul>

  <p>
  (Optional) Create an additional view where the user can see the list of uploaded items. Each line will show the Title, Description, Creation date and a link to download the file.
  </p>

  <p>
  There's no need to setup a live demo. You can either choose to commit your code on a public Github repository, or share the project privately, it's up to you, as long as we get to run the project and read the code ourselves.
  </p>

  <p>
  We understand you're probably busy on other tasks, so feel free to take your time, but please send over your results before November, the 23rd.
  </p>

  <p>
  If you have any question on the assignment, do not hesitate to contact me.
  </p>

  <p>
  I look forward to seeing your replies.
  </p>

  <p>
  Cheers,
  </p>

  <p>
  Francesco Benetti <br/>
  Dotsub - Any Video Any Language <br/>
  <a href="http://dotsub.com">http://dotsub.com</a> <br/>
  </p>
</div>