
.section-container {
  text-align: left;
  margin: 25px;
}

h3.section-title {
  text-align: center;
}

.answer {
  color: #f2bb80;
  font-weight: bold;
}

.answer::before {
  content: ' Implementation: ';
  color: #f2bb80;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}