
<div class="section-container">
  <h3 class="section-title">About This Application</h3>

  <p>
  This application allows a user to upload a file to a remote server
  and enter the title and description of the uploaded file. It is designed
  according to requirements outlined below.
  </p>
  <p>
    The optional requirement noted below has been completed and a list of uploaded files
    is shown at the bottom of the file upload form on the Home page.
  </p>
  <p>
    See the Readme file in the dotsub-fileupload-frontend Github repository for more details on the project
    and how the requirements were fulfilled.
    The web service back end code is located in the dotsub-fileupload-backend Github repository.
    There is also a Readme file in that project for details on the Spring Rest Controller back end and its role in
    satisfying the requirements.
  </p>
</div>

<div id="requirements" class="section-container">
  <h3 class="section-title">Requirements</h3>
  <p>
  Create a simple web project, that provides a form to upload a file and gather some metadata for that file: Title, Description and Creation date
  </p>
  <ul>
    <li> The UI can be implemented in any SPA framework of your choice.</li>
    <li> The REST back-end will be preferably implemented based on Java/Spring Boot (+ any Spring/Java library/framework of your choice) to store data.</li>
    <li> No user authentication and security features are needed.</li>
    <li> Project can use simple in-memory DB to store data</li>
    <li> Files can be stored in web server file system.</li>
    <li> No need to implement routing or sophisticated state management in UI (e.g. FLUX)</li>
    <li> Project can use any quality assurance mechanisms or build tools of choice</li>
    <li> You may also submit with the project any design considerations, restrictions, or possible future enhancements (if applicable)</li>
  </ul>

  <p>
  (Optional) Create an additional view where the user can see the list of uploaded items. Each line will show the Title, Description, Creation date and a link to download the file.
  </p>

</div>