<div *ngIf="fileDataList && fileDataList.length > 0">
    <div class="table-legend">Uploaded Files</div>
    <div class="table-container">
        <table class="centerTable">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Uploaded File <span id="download-message">Click to download</span></th>
                <th>Creation Date</th>
            </tr>
            <tr *ngFor="let file of fileDataList">
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.description }}</td>
                <td><a href="http://localhost:8080/uploadservice/files/{{ file.filename }}">{{ file.filename }}</a></td>
                <td>{{ file.createDate }}</td>
            </tr>
        </table>
    </div>

</div>